@media screen and (min-width: 768px ) and (max-width: 992px) {
    body {
        background: black url(../imagens/back-tablet.jpg) no-repeat center center;
    }

    #phone {
        display: none;
    }
    
    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px ) and (max-width: 1200px) {
    body {
        background: black url(../imagens/back-pc.jpg) no-repeat center center;
    }

    #phone {
        display: none;
    }

    #desktop {
        display: block;
    }
}

@media screen and (min-width: 1200px ) {
    body {
        background: black url(../imagens/back-tv.jpg) no-repeat center center;
    }

    #phone {
        display: none;
    }
 
    #tv {
        display: block;
    }
}

@media print {
    body {
        background: black url(../imagens/back-print.jpg) no-repeat center center; /* DESNECESSÁRIO */
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site xxxxxxxxxxxxxxxxxxxxxxxxxxx';
    }

    #phone {
        display: none;
    }

    #print {
        display: block;
    }
}