* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(34, 179, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 60%;
    height: 85%;
    background-color: rgb(25, 146, 150);
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer"
    ;
}

header {
    background-color: rgb(46, 3, 42);
    grid-area: header;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 2.5rem
}

main {
    grid-area: main;
    background-color: rgb(80, 10, 10);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem
}

aside {
    grid-area: aside;
    background-color: rgb(10, 26, 80);
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.5rem
}

footer {
    background-color: rgb(80, 42, 10);
    grid-area: footer;
    display: flex;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: white;
}

footer div {
    background-color: blueviolet;
    width: 25%;
    height: 30%;
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}