@keyframes carAnimation {
    0% {transform: translate(-50%, -50%);}
    4.99% {transform: translate(300%, -50%);}
    5% {transform: translate(310%, -60%) rotate(-90deg);}
    9.99% {transform: translate(310%, -99%) rotate(-90deg);}
    10% {transform: translate(320%, -110%) rotate(0deg);}
    14.99% {transform: translate(390%, -110%) rotate(0deg);}
    15% {transform: translate(405%, -125%) rotate(-90deg);}
    19.99% {transform: translate(405%, -228%) rotate(-90deg);}
    20% {transform: translate(390%, -242%) rotate(-180deg) scaleY(-1);}
    24.99% {transform: translate(220%, -242%) rotate(-180deg) scaleY(-1);}
    25% {transform: translate(210%, -230%) rotate(-270deg) scaleY(-1);}
    29.99% {transform: translate(210%, -210%) rotate(-270deg) scaleY(-1);}
    30% {transform: translate(205%, -200%) rotate(-180deg) scaleY(-1);}
    34.99% {transform: translate(-360%, -200%) rotate(-180deg) scaleY(-1);}
    35% {transform: translate(-365%, -188%) rotate(-270deg) scaleY(-1);}
    39.99% {transform: translate(-365%, 95%) rotate(-270deg) scaleY(-1);}
    40% {transform: translate(-372%, 105%) rotate(-180deg) scaleY(-1);}
    44.99% {transform: translate(-432%, 105%) rotate(-180deg) scaleY(-1);}
    45% {transform: translate(-445%, 118%) rotate(-270deg) scaleY(-1);}
    49.99% {transform: translate(-445%, 220%) rotate(-270deg) scaleY(-1);}
    50% {transform: translate(-437%, 235%) rotate(0deg);}
    54.99% {transform: translate(-240%, 235%) rotate(0deg);}
    55% {transform: translate(-240%, 222%) rotate(-90deg);}
    59.99% {transform: translate(-240%, 193%) rotate(-90deg);}
    60% {transform: translate(-230%, 179%) rotate(0deg);}
    64.99% {transform: translate(90%, 179%) rotate(0deg);}
    70% {transform: translate(95%, 192%) rotate(90deg);}
    74.99% {transform: translate(95%, 212%) rotate(90deg);}
    75% {transform: translate(115%, 226%) rotate(0deg);}
    79.99% {transform: translate(393%, 226%) rotate(0deg);}
    80% {transform: translate(405%, 213%) rotate(-90deg);}
    84.99% {transform: translate(405%, 45%) rotate(-90deg);}
    85% {transform: translate(395%, 37%) rotate(-180deg) scaleY(-1);}
    89.99% {transform: translate(-100%, 37%) rotate(-180deg) scaleY(-1);}
    90% {transform: translate(-110%, 27%) rotate(-90deg) scaleY(-1);}
    94.99% {transform: translate(-110%, -37%) rotate(-90deg) scaleY(-1);}
    95% {transform: translate(-102%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(0deg);}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #b5e61d url(mapa-corrida-0001.png) no-repeat center;
    background-size: contain;
}

body #btn {
    background-color: white;
    color: #22b14c;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.257);

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
    transition: .3s ease-in-out;
}

body #btn:hover {
    cursor: pointer;
    background-color: #22b14c;
    color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.357);
}

body #container {
    width: 100%;
    height: 100%;
    position: relative;
}

body #container #car {
    position: absolute;
    top: 43%;
    left: 44.8%;
    transform: translate(-50%, -50%);  
}