* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:focus {
    outline: 1px solid black;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(rgb(3, 97, 221), rgb(11, 122, 196));
    background-attachment: fixed;
    width: 50%;
    height: 100%;
    margin: auto;
    overflow-y: scroll;
}

header {
    width: 100%;
    height: 8%;
    position: relative;
}

header h1 {
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    width: 100%;
    height: 92%;
}

main #div-form {
    width: 34%;
    height: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #div-form form {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    position: relative;
}

main #div-form form #inicio {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
    text-align: center;
}

main #div-form form #inicio:hover {
    transition: .3s;
    outline: 1px solid black;
    background-color: rgb(240, 240, 240);
}

main #div-form form #inicio:focus {
    text-align: center;
}

main #div-form form #label-inicio {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: .8em;
    transition: .5s;
}

main #div-form form #inicio:focus ~ #label-inicio,
main #div-form form #inicio:valid ~ #label-inicio {
    transition: .5s;
    top: -16px;
    left: 30px;
    color: white;
    font-size: .9em;
}

main #div-form form #inicio:valid {
    border-left: 2px solid greenyellow;
    outline: none;
}

main #div-form form #fim {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    border: none;
    text-align: center;
}

main #div-form form #fim:hover {
    transition: .3s;
    outline: 1px solid black;
    background-color: rgb(240, 240, 240);
}

main #div-form form #fim:focus {
    text-align: center;
}

main #div-form form #label-fim {
    position: absolute;
    top: 10px;
    left: 143px;
    font-size: .8em;
    transition: .5s;
}

main #div-form form #fim:focus ~ #label-fim,
main #div-form form #fim:valid ~ #label-fim {
    transition: .5s;
    top: -16px;
    left: 143px;
    color: white;
    font-size: .9em;
}

main #div-form form #fim:valid {
    border-left: 2px solid greenyellow;
    outline: none;
}

main #div-form form #btn-gerar {
    width: 50px;
    height: 35px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main #div-form form #btn-gerar:hover {
    transition: .2s;
    cursor: pointer;
    outline: 1px solid black;
    background-color: rgb(240, 240, 240);
}

main #div-form form #btn-gerar:active {
    background-color: rgb(230, 230, 230);
    transition: 0s;
    outline: none;
}

main #div-form form #btn-limpa-res {
    width: 50px;
    height: 35px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main #div-form form #btn-limpa-res:hover {
    transition: .2s;
    cursor: pointer;
    outline: 1px solid black;
    background-color: rgb(240, 240, 240);
}

main #div-form form #btn-limpa-res:active {
    background-color: rgb(230, 230, 230);
    transition: 0s;
    outline: none;
}

main #div-resultado {
    padding: 10px;
}

main #div-resultado div {
    padding: 10px;
    border: 2px solid white;
}

main #div-resultado div p {
    color: white;
    word-spacing: 3px;
    line-height: 1.3;
    text-align: justify;
}